<div class="bar bar-header has-tabs-top bar-positive">
  <div class="h1 title">DIE ZEIT</div>
</div>
<div class="tabs-striped tabs-top tabs-background-positive tabs-color-light">
  <div class="tabs">
    {{#link-to 'die-zeit' class="tab-item"}}
      Newspaper
    {{/link-to}}
    {{#link-to 'zeit-online' class="tab-item"}}
      Online
    {{/link-to}}
  </div>
</div>

{{outlet}}
